<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="last-head">

		<link href="/css-sliders/css/dwd-card.css" rel="stylesheet" />
		<script type="text/javascript">
	/*<![CDATA[*/
$(document).ready(function(){
	var carousel = document.querySelector(".carousel");
var cells = carousel.querySelectorAll(".carousel__cell");
var cellCount; // cellCount set from cells-range input value
var selectedIndex = 0;
var cellWidth = carousel.offsetWidth;
var cellHeight = carousel.offsetHeight;
var isHorizontal = true;
var rotateFn = isHorizontal ? "rotateY" : "rotateX";
var radius, theta;
// console.log( cellWidth, cellHeight );

function rotateCarousel() {
  var angle = theta * selectedIndex * -1;
  carousel.style.transform =
    "translateZ(" + -radius + "px) " + rotateFn + "(" + angle + "deg)";
}

var prevButton = document.querySelector(".previous-button");
prevButton.addEventListener("click", function() {
  selectedIndex--;
  rotateCarousel();
});

var nextButton = document.querySelector(".next-button");
nextButton.addEventListener("click", function() {
  selectedIndex++;
  rotateCarousel();
});

var cellsRange = document.querySelector(".cells-range");
cellsRange.addEventListener("change", changeCarousel);
cellsRange.addEventListener("input", changeCarousel);

function changeCarousel() {
  cellCount = cellsRange.value;
  theta = 360 / cellCount;
  var cellSize = isHorizontal ? cellWidth : cellHeight;
  radius = Math.round(cellSize / 2 / Math.tan(Math.PI / cellCount));
  for (var i = 0; i < cells.length; i++) {
    var cell = cells[i];
    if (i < cellCount) {
      // visible cell
      cell.style.opacity = 1;
      var cellAngle = theta * i;
      cell.style.transform =
        rotateFn + "(" + cellAngle + "deg) translateZ(" + radius + "px)";
    } else {
      // hidden cell
      cell.style.opacity = 0;
      cell.style.transform = "none";
    }
  }

  rotateCarousel();
}

var orientationRadios = document.querySelectorAll('input[name="orientation"]');
(function() {
  for (var i = 0; i < orientationRadios.length; i++) {
    var radio = orientationRadios[i];
    radio.addEventListener("change", onOrientationChange);
  }
})();

function onOrientationChange() {
  var checkedRadio = document.querySelector(
    'input[name="orientation"]:checked'
  );
  isHorizontal = checkedRadio.value == "horizontal";
  rotateFn = isHorizontal ? "rotateY" : "rotateX";
  changeCarousel();
}

// set initials
onOrientationChange();
})
	/* ]]>*/
	</script>
	</ui:define>
	<ui:define name="implementation">
		<div class="scene">
			<div class="carousel">
				<div class="carousel__cell">
					`
					<div class="dwd--flex-container text--cell">
						<span><h1>Attivita</h1></span>

						<p:outputPanel styleClass="info">
							<i> <h:outputText deferred="true" deferredMode="visible"
									value="150" style="font-size:22px;" />
								<div class="icon" style="font-size: 22px;">
									<i class="fa fa-unlock"></i> <span>Aperte</span>
								</div>
							</i>
						</p:outputPanel>

						<div class="ui-fluid wrapper-child-v card-box"
							style="flex-basis: 69%; height: 69%;">
							<p:dataTable id="availableCars" var="car"
								value="#{dndCarsView.cars}" scrollable="true">
								<p:column style="width:20px">
									<h:outputText id="dragIcon"
										styleClass="ui-icon ui-icon-arrow-4" />
									<p:draggable for="dragIcon" revert="true" helper="clone" />
								</p:column>

								<p:column headerText="Id">
									<h:outputText value="#{car.id}" />
								</p:column>

								<p:column headerText="Year">
									<h:outputText value="#{car.year}" />
								</p:column>
							</p:dataTable>
						</div>

					</div>
				</div>
				<div class="carousel__cell">2</div>
				<div class="carousel__cell">3</div>
				<div class="carousel__cell">4</div>
				<div class="carousel__cell">5</div>
				<div class="carousel__cell">6</div>
				<div class="carousel__cell">7</div>
				<div class="carousel__cell">8</div>
				<div class="carousel__cell">9</div>
			</div>
		</div>
		<div class="carousel-options">
			<p>
				<label> Cells <input class="cells-range" type="range"
					min="3" max="9" value="9" />
				</label>
			</p>
			<p>
				<button class="previous-button">Previous</button>
				<button class="next-button">Next</button>
			</p>
			<p>
				Orientation: <label> <input type="radio" name="orientation"
					value="horizontal" checked="checked" /> horizontal
				</label> <label> <input type="radio" name="orientation"
					value="vertical" /> vertical
				</label>
			</p>
		</div>


	</ui:define>
</ui:composition>