div.scene {
  width: 360px;
  height: 420px;
  border: 1px solid #ccc;
  margin: 40px 0;
  position: relative;
  margin: 80px auto;
  perspective: 1000px;
 
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(495px);
  transform-style: preserve-3d;
  transition: transform 1s;
}


.carousel__cell {
  position: absolute;
  width: 350px;
  height: 410px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 16px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}


.carousel__cell:nth-child(9n + 1) {
  background: hsla(0, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 2) {
  background: hsla(40, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 3) {
  background: hsla(80, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 4) {
  background: hsla(120, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 5) {
  background: hsla(160, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 6) {
  background: hsla(200, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 7) {
  background: hsla(240, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 8) {
  background: hsla(280, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 0) {
  background: hsla(320, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}
.carousel__cell:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}
.carousel__cell:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}
.carousel__cell:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}
.carousel__cell:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}
.carousel__cell:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}
.carousel__cell:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}
.carousel__cell:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px);
}
.carousel__cell:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px);
}


.dwdcard--flex-container {
	display: flex;
	 flex-direction: column;
}

.wrapper-child-v {
   flex-basis: auto;
   flex-grow: 1;
   flex-shrink: 1;
}


.text--cell {
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-flex 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), flex 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), flex 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-flex 1s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    overflow: hidden;
    flex-grow: 1;
}


div.text-container {
    background: linear-gradient(40deg, rgba(194, 203, 216, 0.7), rgba(184, 163, 7, 0.7));
    margin: 2.6em 1.6em 1.2em;
    box-shadow: 5px 10px 18px rgba(204, 9, 9, 0.45);
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    width: 90%;
}


.text-container .info {
    flex: 0 1 49%;
    -webkit-align-items: center;
    align-items: center;
    justify-items: center;
    /* color: #355cc9; */
    color: #dce0ee;
}

.text-container .info span {
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 2px;

    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.text-container span:first-child {
    -webkit-flex: 1 1 18%;
    flex: 1 1 18%;
    padding-top: 2px;
    padding-bottom: 6px;
}


.text-container p {
    font-weight: 300;
    line-height: 1.5vw;
    margin: 0 0 30px 0;
}

.text-container h1 {
	font-weight: 500;
    line-height: 1.8vw;
}

.text-container h100 {
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);

}


.card-box,
.borders-lr {
    border-left-style: solid;
    border-left-width: 2rem;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-width: 2rem;
    border-right-color: transparent;
    /*background: linear-gradient(40deg, rgba(12, 103, 240, 0.7), rgba(24, 236, 243, 0.7));*/



}

.card-box {
    border-left-width: 1rem;
    border-right-width: 1rem;
    border-top-style: none;
    border-top-width: 1rem;
    border-top-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 2rem;
    border-bottom-color: transparent;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

