<!DOCTYPE html [
    <!ENTITY nbsp "&#160;">
    <!ENTITY bull "&#8226;">
    <!ENTITY copy "&#169;">
]>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" type="image/png" href="#{request.contextPath}/resources/main/images/favicon.png" />
    </f:facet>

    <title>Garret PrimeFaces ShowCase</title>
    <h:outputScript name="jquery/jquery.js" library="primefaces" />
    <h:outputScript name="jquery/jquery-plugins.js" library="primefaces" />
    
    <ui:insert name="head" />
	<link href="/css-sliders/css/showcase.css" rel="stylesheet" />
	<f:facet name="last">
		<ui:insert name="last-head"/>
	</f:facet>
     
</h:head>
<h:body>

<ui:insert name="content">
	 <div class="ContentSideSections Implementation">
                    <ui:insert name="implementation" />
     </div>
</ui:insert>

</h:body>
</html>