* {
    transition: .33s ease all;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.ui-datatable {
    height: 98%;
}

.table,
div.slidecards--flex-container,
div.cards--flex-container {
    position: relative;
    margin: 20px auto;
    max-width: 1264px;
    height: 620px;
    max-height: 680px;
    padding: 20px;
    border-top: 1px solid #beafaf;
    -webkit-display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
            flex: 1;
    background: linear-gradient(40deg, rgba(248, 250, 250, 0.966), rgba(255, 242, 166, 0.7));
    background-color: #ddd8dc;

    -webkit-align-items: center;

    align-items: stretch;
    -webkit-justify-content: center;
    justify-content: initial;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    /*overflow-y: auto; */
}


div.cards--flex-stack-container {
    position: relative;
    margin: 20px auto;
    max-width: 1264px;
    height: 620px;
    max-height: 680px;
    padding: 20px;
    border-top: 1px solid #beafaf;
    background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7));
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
            flex: 1;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 30px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
    flex-wrap: nowrap;
    height: 620px;

    overflow: hidden;
    overflow-y: auto;
}

.cards--flex-stack-containee {
    background: linear-gradient(40deg, rgba(12, 103, 240, 0.7), rgba(66, 57, 1, 0.7));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
    padding: 2px;
    margin: 2px;
    width: 100%;
    height: 100%;



    -webkit-flex-basis: 33%;



            flex-basis: 33%;

    -webkit-flex-grow: 1;

            flex-grow: 1;

    -webkit-flex-shrink: 1;

            flex-shrink: 1;

    -webkit-align-self: initial;

            align-self: initial;
    height: 96%;
    min-width: 33%;
    max-width: 60%;
    padding: 5px;
    margin: 4px;

}



.table--cell,
.cards--flex-containee {
    /* background: linear-gradient(40deg, rgba(12, 103, 240, 0.7), rgba(24, 236, 243, 0.7));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
    */
    background: linear-gradient(40deg, rgb(97, 139, 189, 0.7), rgba(92, 110, 156, 0.7));
    box-shadow:
        0 5px 10px rgba(97, 139, 189, 0.7),
        0 15px 40px rgba(107, 142, 228, 0.6);

    -webkit-align-self: initial;

            align-self: initial;
    height: 96%;
    min-width: 33%;
    max-width: 60%;
    padding: 5px;
    margin: 4px;
    -webkit-flex: 1 1 33%;
            flex: 1 1 33%;


    /* flex-grow and flex-shrink are set so that the items neither grow nor shrink */
    /*transition: flex-grow .6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-flex-grow .6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    transition: flex-grow .6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    */
}

/**/
.cards--flex-containeeR:hover {
    -webkit-flex-grow: 4;
    flex-grow: 4;
    opacity: 1;
}


.rotate-cw {
    -webkit-transform: perspective(2000px) rotateY(50deg);
    transform: perspective(2000px) rotateY(50deg);
}

.rotate-acw {
    -webkit-transform: perspective(2000px) rotateY(-50deg);
    transform: perspective(2000px) rotateY(-50deg);
}

.rotate-reset {
    -webkit-transform: none;
    transform: none;
}


.wrapper-v {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-align-self: baseline;
    align-self: stretch;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;

}

.wrapper-child-v {
    -webkit-flex-basis: auto;
            flex-basis: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
}

.cards--flex-containee .wrapper-v {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.card-box,
.borders-lr {
    border-left-style: solid;
    border-left-width: 2rem;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-width: 2rem;
    border-right-color: transparent;
    /*background: linear-gradient(40deg, rgba(12, 103, 240, 0.7), rgba(24, 236, 243, 0.7));*/



}

.card-box {
    border-left-width: 1rem;
    border-right-width: 1rem;
    border-top-style: none;
    border-top-width: 1rem;
    border-top-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 2rem;
    border-bottom-color: transparent;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.table--cell {
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-flex 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), flex 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), flex 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-flex 1s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    overflow: hidden;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

ntainer,
div.text-container {
    background: linear-gradient(40deg, rgba(194, 203, 216, 0.7), rgba(184, 163, 7, 0.7));
    margin: 2.6em 1.6em 1.2em;
    box-shadow: 5px 10px 18px rgba(204, 9, 9, 0.45);
    padding: 2em 2em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    width: 90%;
}

.text-container .info span {
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 2px;

    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.text-container span:first-child {
    -webkit-flex: 1 1 18%;
    flex: 1 1 18%;
    padding-top: 2px;
    padding-bottom: 6px;
}

.text-container .info {

    -webkit-flex: 0 1 49%;

    flex: 0 1 49%;
    -webkit-align-items: center;
    align-items: center;
    justify-items: center;
    /* color: #355cc9; */
    color: #dce0ee;
}

.text-container p {
    font-weight: 300;
    line-height: 1.5vw;
    margin: 0 0 30px 0;
}

.text-container h1 {
	font-weight: 500;
    line-height: 1.8vw;
}

.text-container h100 {
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);

}

div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    padding: 0rem 0.32rem 0rem 0rem;
}

@media only screen and (min-width: 1024px) {
    .slidecards--flex-container {
        max-width: 1264px;
        max-height: 680px;
    }

    .ui-datatable {
        max-width: 1024px;
        height: 600px;
        max-height: 620px;
        -webkit-perspective: 1500px;
        perspective: 1500px;
    }

    div.ui-datatable-scrollable-body[style] {
        height: 320px;
        max-height: 92%;
    }

    div.text-container {
        max-width: 120px;

    }
}


@media only screen and (max-width: 640px) {
	.cards--flex-containee{
		flex-basis: 50%;
	}
}


@media only screen and (min-width: 640px) {

    .slidecards--flex-container {

        width: 100%;
        height: 100%;
    }
    
    

    div.card-container {
        -webkit-flex-direction: row;
        flex-direction: row;
        width: 100%;
    }

    div.image {
        height: 420px;
        min-width: 360px;
    }

    div.text-container {
        margin: 0 10px;
        max-width: 100%;
        max-height: 100%;
    }

    .ui-datatable {
        max-width: 100%;
        max-height: 100%;
        -webkit-perspective: 1500px;
        perspective: 1500px;
    }

    div.ui-datatable-scrollable-body {

        max-height: 92%;
    }
}


@media screen and (min-width: 40em) {
    .cards--flex-containee {
        max-width: calc(50% - 1em);
    }

    .cards--flex-stack-containee {
        max-width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .cards--flex-stack-containee {
        max-width: 30%;
    }


}	
/*# sourceMappingURL=dwd-dashboard.css.map */
